{% extends "base.html" %}
{% load i18n %}
{% load staticfiles %}
{% load bootstrap4 %}
{% load crispy_forms_tags %}
{% block head_title %}| Control{% endblock %}

{% block content %}
{% url 'login' as login %}
<div class="row">
  <div class="col-md-3"></div>
  <div class="col-md-6 text-center">
    <h4>Su contraseña se restableció correctamente</h4>
    <a href="{{login}}"><button type="button" name="login" class="btn btn-success">Login</button></a>
  </div>
  <div class="col-md-3"></div>
</div>
{% endblock %}
